@import "../../variables";

.container {
  background-color: $lightOrng;

}
.motto{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerWrapper {
  max-width: 754px;
  width: 100%;
  margin: 0 auto;
  color: $white;

  img {
    max-width: 326px;
    max-height: 326px;
    @media (max-width: 768px) {
      max-width: 180px;
      max-height: 180px;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: $darkOrng;
  }

  h3 {
    @include regular400;
    font-size: 16px;
  }

  h1 {
    font-size: 55px;
    @include extraBold800;
    @media (max-width: 768px) {
     font-size: 25px;
    }

  }

  h2 {
    display: flex;
    align-items: center;
  }

  .burgerDiv {
    display: flex;
  }
}

nav {
  justify-content: space-around;
  display: flex;

  width: 40%;
  margin: 0 auto;
  @media (max-width: 1024px) {
    width: 70%;
  }
  @media (max-width: 768px) {
    width: 95%;
  }


  a {
    margin-bottom: 30px;
    cursor: pointer;
    color: $white;
    width: 23%;
    height: 30px;
    border-radius: 15px;
    background-color: $darkOrng;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    @media (max-width: 768px) {
      width: 30%;
    }
    &:hover {
    background-color: #e85209;

  }
  }
}