@import "../../../variables";

.categories {


  display: flex;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    justify-content: center;
  }

  a {
    width: 120px;
    cursor: pointer;
  }

}

.foodContainer {
  padding: 0 10px 0 10px;

  h3 {
    margin: 50px 0 0 0;
  }
}

.CardProduct {
  padding: 12px;
  background-color: $white;
  border-radius: 18px;

  img {
    border-radius: 15px;
    max-width: 225px;
    width: 100%;
    height: 180px;
    @media (max-width: 768px) {
      width: 145px;
      height: 110px;
    }
  }

  @media (max-width: 768px) {
    width: 145px;
    height: 350px;
  }

  .optionButtons {
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
      flex-direction: column;


    }

    button {
      width: 40%;
      @media (max-width: 768px) {
        width: 90%;
        margin-top: 10px;
      }
    }
  }

  button {
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 12px;
  }


}

.menuWrapper {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

  }
}

.foodWrapper {
  @media (max-width: 599px) {
    display: flex;
    justify-content: center;
  }
  margin-top: 25px;

  @media (min-width: 1025px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 30px;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
}

.listOfFood {
  p {
    margin: 0;
  }

  background-color: $white;
  justify-content: center;
  align-items: center;
  height: 40px;
  display: flex;
  max-width: 120px;
  width: 98%;
  border-radius: 50px;
  margin-right: 25px;
  margin-top: 40px;
  color: inherit;
  text-decoration: none;
  transition: all 0.5s;

  img {
    margin-right: 8px;
  }

  &:hover {
    background-color: $lightOrng;

  }
}
