body {
  font-family: 'Nunito', sans-serif;
  background: #F9F9F9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 0 200px 0;

}
html{
  position: relative;
  min-height: 100%;
}
body button{
  font-family: 'Nunito', sans-serif;
}
